.locs{
    height:500px;
    max-height: 500px;
    margin-top: 0px;

    display: flex;
    justify-content: space-evenly;
}

.loc{
    background-color: black;
    width: 300px;
    max-width: 300px;
    margin-top: 0px;
    opacity: 1;

    height: fit-content;
}

.m{
    color: white;
    margin-bottom: 15px;
}

.ll{
    font-weight: 100;
}

.to{
    background-image: image-set("../assets/loc-bg.jpg");
}