.locs{
    display: flex;
    justify-content: space-evenly;
}

.loc{
    background-color: black;
    width: 300px;
    max-width: 300px;
    margin-top: 0px;
    opacity: 1;
    height: 250px;
}

.m{
    color: white;
    margin-bottom: 15px;
}

.ll{
    font-weight: 100;
}

.to{
    padding-top:1%;
}

.bi{
    min-width:1000px;
    height:500px;
    margin-top: 0px;
    background-image: image-set("../assets/loc-bg.jpg");
    background-position:right;
}