.tea{
    height: 200px;
    width:300px;
    margin-bottom: 10px;
}

.type{
    width: 300px;
    max-width: 300px;
}

.teas{
    width: 1000px;
    max-width: 1000px; 
    display: grid;
    grid-template-areas: 'a1 a2 a3';
    place-items: center;
}

p{
    margin-top:0px;
}


h2{
    margin-bottom:5px;
}

h4{
    margin-top:0px;
}